/* 
    Document   : estrutura
    Created on : 09/02/2011, 09:21:47
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body, #wrap {height: 100%;}

html{
     background-color: #fff;
}

body{
   
    background-image: url(../img/bg-degrade.png);
    background-repeat:  repeat-x;
}
body > #todo {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    width: 960px;
    background-color: #fff;
}

#todo{
    
}

/* HEADER */
#topo{
    background-image: url(../img/bg-topo.png);
    height: 151px;
    width: 100%;
}

#topo img{
    padding-left: 40px;
}

#topo p{
    padding-left: 65px;
}

#banner{
    background-color: #000;
    height: 96px;
    width: 728px;
    margin-top: -120px;
    margin-left: 22%;
    margin-right: auto;
}

#login-senha{
    margin-left: 40%;
    width: 180px;
}

#chave{
    margin-top: 3px;
    *margin-top: 2px;
    background-image: url(../img/chave-login-senha.png);
    width: 28px;
    height: 43px;
    display: block;
}

#login-senha span{
    margin-left: -60px;
}

#box-login{
    position: absolute;
    padding: 12px;
    display: none;
    margin-top: 38px;
    background-color: #ededed;
    border: 1px solid #dfdfdf;
    width: 170px;
    height: 90px;
    z-index: 10;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#box-login input[type=submit]{
    margin-top: 3px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #9d9c9c;
    height: 30px;
    padding: 5px;
    cursor: pointer;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#branco-tela textarea{
    border: 1px solid #cecece;
    padding: 5px;
    color: #8a8a8a;
    font-family: arial;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#branco-tela input[type=submit]{
    margin-top: 15px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #9d9c9c;
    height: 30px;
    padding: 5px;
    cursor: pointer;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#busca{
    margin-left: 75%;
    margin-top: -27px;
}

.lupa-busca{
    background-image: url(../img/lupa-busca.png);
    width: 30px;
    height: 27px;
    border: 0;
    position: relative;
    margin-left: 165px;
    top: -26px;
    cursor: pointer;
}

#menu-img-esquerda{
    background-image: url(../img/menu-img-esquerda.png);
    width: 13px;
    height: 50px;
    display: block;
    position: relative;
    z-index: 10;
    left: -13px;
    top: -9px;
}

#menu-img-direita{
    background-image: url(../img/menu-img-direita.png);
    width: 13px;
    height: 50px;
    display: block;
    position: relative;
    right: -959px;
    top: -50px;
}

#menu-superior{
    background-color: #4a0000;
    width: 100%;
    height: 41px;
    margin-top: -50px;
}

#menu-superior ul li{
    display: inline;
}

#menu-superior ul img{
    position: absolute;
    margin-top: -12px;
    *margin-top: -10px;
}

#menu-superior ul{
    padding-top: 12px;
    text-align: center;
}

#menu-inferior{
    margin-top: 15px;
    margin-left: 10.5%;

}

#icon-menu{
    margin-left: 57%;
    margin-top: -32px;
}

#icon-menu ul li{
    float: left;
    padding: 0 3px;
    display: inline-block;
}

#infografico{
    float: right;
    margin-right: 10%;
    margin-top: -50px;
}

#infografico img{
    float: left;
}

#infografico a{
    margin-top: 30px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #9d9c9c;
    height: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

    display: inline-block;
    text-decoration: none;
    font-family: arial;
    font-size: 17px;
    color: #2c2c2c;
}
/* HEADER */

/***************************/

/* CONTEUDO */
#content{
    height:100%;
    min-height:666px;
    display: block;
    float: left;
    width: 84%;
    padding: 14px;
    padding-bottom: 30px;
}

#banner-lateral{
    float: right;
    width: 13%;
    min-height: 100%;
    height: 100px;
}


#principal-home{
    display: block;
    height: 450px;
    margin-top: 30px;
}

#principal-home #lista-editorias{
    float: left;
    padding: 15px;
    text-align: center;
    margin-left: 13%;
    width: 169px;
    background-color: #fff;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#principal-home #lista-editorias #editorias-rotato{
    height: 365px;
    overflow: hidden;
}

#editorias-rotato ul li div.painel{
    position: absolute;
    left: 24%;
    margin-top: -40px;
    *margin-top: -55px;
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #bebebe;
    padding: 8px;
    display: none;
    z-index: 100;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

}

#principal-home #lista-editorias .traco{
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    border-bottom: 1px solid #bebebe;
}

#principal-home #slide-materias-destaques{
    width: 55.5%;
    padding: 9px;
    float: left;
    display: inline;
    margin-left: 1%;
    background-color: #fff;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#slide-materias-destaques{
    width: 100%;
    height: 415px;
    overflow: hidden;
}

#slide-materias-destaques ul li{
    width: 100%;
}


#principal-home #slide-materias-destaques #faixa-preta{
    background-color: #000;
    color: #fff;
    font-family: arial;
    font-size: 24px;
    text-align: left;
    padding-top: 18px;
    height: 38px;
    width: 100%;
    position: absolute;
    margin-top: -58px;
    *margin-top: -56px;

    filter:alpha(opacity=80);
    opacity: 0.8;
}


#principal-home #slide-materias-destaques #faixa-preta span{
    margin-left: 10px;
}

#principal-rodape{
    width: 690px;
    margin-left: 13%;
    min-height: 100%;
    display: block;
    *margin-top: 30px;

}

#principal-rodape #caixa-principal-rodape{
    float: left;
    display: inline-block;
    width: 210px;
    background-color: #fff;
    padding: 2px;
    margin-right: 10px;
    *margin-right: 9px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#caixa-principal-rodape ul #faixa-preta{
    background-color: #000;
    color: #fff;
    font-family: arial;
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    height: 28px;
    width: 205px;
    position: absolute;
    margin-top: -38px;
    *margin-left: -214px;
    *margin-top: 130px;

    filter:alpha(opacity=80);
    opacity: 0.8;
}



/* CONTEUDO */

/* REVISTA DIGITAL */

#caixa{
    background-image: url(../img/bg-caixa.png);
    padding: 5px;
    width: 750px;
    height: 380px;
    display: block;
}

#caixa-h1{
    background-color: #444;
    width: 300px;
    text-align: center;
    margin: 5px 0 0 5px;
    padding: 15px 5px 5px 5px;
    z-index: 100;
    margin-top: -40px;
}

#box-sombra{
    background-color: #000;
    width: 308px;
    height: 37px;
    margin-top: 15px;
    margin-left: 10px;
}

#caixa-branco{
    background-color: #fff;
    width: 740px;
    height: 305px;
    margin-left: 5px;
}

#box-revista{
    padding: 20px;
}

#box-revista li{
    display: inline;
    float: left;
    padding: 15px;
}
/* REVISTA DIGITAL */


/* RODEPÉ */
#rodape{
    position: relative;
    clear:both;
    background-image: url(../img/bg-rodape.png);

    width: 100%;
    height: 37px;
    background-color: #fff;

}

#rodape-caixa{
    width: 985px;
    margin: 0 auto;
}

#rodape-conteudo{
    float: right;
    margin-right: 6px;
    margin-top: -15px;
    *margin-top: -11px;
}

#rodape-conteudo li{
    display: inline;
}

/* RODEPÉ */
