/* 
    Document   : estrutura
    Created on : 09/02/2011, 09:21:47
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body, #wrap {height: 100%;}

html{
    background-color: #fff;
}

body{

    background-image: url(../img/bg-degrade.png);
    background-repeat:  repeat-x;
}
body > #todo {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    width: 960px;
    background-color: #fff;
}

#todo{

}

/* HEADER */
#topo{
    background-image: url(../img/bg-topo.png);
    height: 151px;
    width: 100%;
}

#topo img{
    padding-left: 30px;
}

#topo p{
    padding-left: 70px;
    color: #333;
    margin-bottom: -20px;
}


#banner{
    background-color: #000;
    height: 96px;
    width: 728px;
    margin-top: -110px;
    margin-left: 22%;
    margin-right: auto;
}

#login-senha{
    margin-left: 40%;
    width: 180px;
}

#data {
    width: 150px;
    position: absolute;
    margin-top: 22px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
    font-variant: small-caps;
    color: #333;
    *margin-left:-315px;
}

#chave{
    margin-top: 3px;
    background-image: url(../img/chave-login-senha.png);
    width: 24px;
    height: 35px;
    display: block;
    margin-left:10px;
    margin-bottom: 7px;
    *margin-top: 2px;
}

#login-senha span{
    margin-left: -60px;
}

#box-login{
    position: absolute;
    padding: 12px;
    display: none;
    margin-top: 38px;
    background-color: #ededed;
    border: 1px solid #dfdfdf;
    width: 170px;
    height: 90px;
    z-index: 10;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#box-login input[type=submit]{
    margin-top: 3px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #9d9c9c;
    height: 30px;
    padding: 5px;
    cursor: pointer;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#box-login input[type=submit]:hover {
    background-image: url(../img/bg-button-hover.png);

}
#branco-tela textarea{
    border: 1px solid #cecece;
    padding: 5px;
    color: #8a8a8a;
    font-family: arial;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#branco-tela input[type=submit]{
    margin-top: 15px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #9d9c9c;
    height: 30px;
    padding: 5px;
    cursor: pointer;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#busca{
    margin-left: 70%;
    margin-top: -27px;
}

#busca input[type=text]{
    width:180px;
    margin-left: 35px;
    *width:190px;
}

.lupa-busca{
    background-image: url(../img/lupa-busca.png);
    width: 28px;
    height: 23px;
    border: 0;
    position: relative;
    margin-left: 165px;
    top: -24px;
    left: 74px;
    cursor: pointer;
}

.lupa-busca:hover{
    background-image: url(../img/lupa-busca-h.png);
}

#menu-img-esquerda{
    background-image: url(../img/menu-img-esquerda.png);
    width: 13px;
    height: 50px;
    display: block;
    position: relative;
    z-index: 10;
    left: -13px;
    top: -9px;
}

#menu-img-direita{
    background-image: url(../img/menu-img-direita.png);
    width: 13px;
    height: 50px;
    display: block;
    position: relative;
    right: -959px;
    top: -50px;
}

#menu-superior{
    background-color: #4a0000;
    width: 100%;
    height: 41px;
    margin-top: -50px;
}

#menu-superior ul li{
    display: inline;
}

#menu-superior ul img{
    position: absolute;
    margin-top: -12px;
    *margin-top: -10px;
}

#menu-superior ul{
    padding-top: 12px;
    text-align: center;
}

#menu-inferior{
    margin-top: 15px;
    margin-left: 10.5%;

}

#icon-menu{
    margin-left: 57%;
    margin-top: -32px;
}

#icon-menu ul li{
    float: left;
    padding: 0 3px;
    display: inline-block;
}

#infografico{
    float: right;
    margin-right: 10%;
    margin-top: -50px;
}

#infografico img{
    float: left;
}

#infografico a{
    margin-top: 30px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #9d9c9c;
    height: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

    display: inline-block;
    text-decoration: none;
    font-family: arial;
    font-size: 17px;
    color: #2c2c2c;
}
/* HEADER */

/***************************/

/* CONTEUDO */
#content{
    height:100%;
    min-height:666px;
    display: block;
    float: left;
    width: 84%;
    padding: 14px;
    padding-bottom: 30px;
}

#banner-lateral{
    float: right;
    width: 13%;
    min-height: 100%;
    height: 100px;
}


#principal-home{
    display: block;
    height: 450px;
    margin-top: 0;
}


#lista-editorias{
    float: left;
    text-align: center;
    padding-left:15px;
    margin-top: -10px;
    width: 170px;
    background-color: #fff;
}

#lista-editorias #outras-materias{
    overflow: hidden;
}

.traco{
    width: 170px;
    margin-left: -10px;
    border-bottom: 1px solid #999;
    margin-top: 2px;
    *margin-top:-8px;
}

.traco-opniao {
    width: 155px;
    border-bottom: 1px solid #999;
    margin-top: 35px;
    margin-left: 5px;
    *margin-top:0;
    *margin-left:0;
}



#principal-home #slide-materias-destaques{
    width: 55.5%;
    padding: 9px;
    float: left;
    display: inline;
    margin-left: 1%;
    background-color: #fff;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#slide-materias-destaques{
    width: 100%;
    height: 415px;
    overflow: hidden;
}

#slide-materias-destaques ul li{
    width: 100%;
}


#principal-home #slide-materias-destaques #faixa-preta{
    background-color: #000;
    color: #fff;
    font-family: arial;
    font-size: 24px;
    text-align: left;
    padding-top: 18px;
    height: 38px;
    width: 100%;
    position: absolute;
    margin-top: -58px;
    *margin-top: -56px;

    filter:alpha(opacity=80);
    opacity: 0.8;
}


#principal-home #slide-materias-destaques #faixa-preta span{
    margin-left: 10px;
}

#principal-rodape{
    width: 690px;
    margin-left: 13%;
    min-height: 100%;
    display: block;
    *margin-top: 30px;

}

#principal-rodape #caixa-principal-rodape{
    float: left;
    display: inline-block;
    width: 210px;
    background-color: #fff;
    padding: 2px;
    margin-right: 10px;
    *margin-right: 9px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#caixa-principal-rodape ul #faixa-preta{
    background-color: #000;
    color: #fff;
    font-family: arial;
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    height: 28px;
    width: 205px;
    position: absolute;
    margin-top: -38px;
    *margin-left: -214px;
    *margin-top: 130px;

    filter:alpha(opacity=80);
    opacity: 0.8;
}



/* CONTEUDO */

/* REVISTA DIGITAL */

#caixa{
    background-image: url(../img/bg-caixa.png);
    padding: 5px;
    width: 750px;
    height: 373px;
    display: block;
    margin-top: -25px;
}

#caixa-h1{
    background-color: #444;
    width: 300px;
    text-align: center;
    margin: 5px 0 0 5px;
    padding: 12px 5px 6px 5px;
    z-index: 100;
    margin-top: -40px;
}

#box-sombra{
    background-color: #000;
    width: 308px;
    height: 37px;
    margin-top: 15px;
    margin-left: 10px;

}

#caixa-branco{
    background-color: #fff;
    width: 740px;
    height: 305px;
    margin-left: 5px;
}

#box-revista{
    padding: 20px;
}

#box-revista li{
    display: inline;
    float: left;
    padding: 15px;
}
/* REVISTA DIGITAL */


/* EDITORIAS */

#caixa-h1-editorias{
    background-color: #444;
    width: 140px;
    text-align: center;
    margin: 5px 0 0 5px;
    padding: 10px 3px 6px 3px;
    z-index: 100;
    margin-top: -40px;
    z-index: 10;
}

#box-sombra-editorias{
    background-color: #000;
    width: 146px;
    height: 37px;
    margin-top: -30px;
    margin-left: 10px;
    z-index: 10;
}

#faixa-listrada{
    background-image: url(../img/bg-caixa.png);
    height: 12px;
    width: 580px;
    z-index: 0;
    margin-left: 157px;
    margin-top: -11px;
}

/* EDITORIAS */
#noticias-por-secao li {
    list-style: none;
    display: inline;
    float: left;
    width: 325px;
    padding: 15px;
    border-bottom: 1px solid #444;

}

#noticias-por-secao li img{
    border:1px solid #CCC;
    width: 129px;
    height: 72px;
    float: left;
    margin-right: 8px;
}

/* RODEPÉ */
#rodape{
    position: relative;
    clear:both;
    background-image: url(../img/bg-rodape.png);
    *bottom:-290px;

    width: 100%;
    height: 37px;
    background-color: #fff;

}

#rodape-caixa{
    width: 985px;
    margin: 0 auto;
}

#rodape-conteudo{
    float: right;
    margin-right: 6px;
    margin-top: -15px;
    *margin-top: -11px;
}

#rodape-conteudo li{
    display: inline;
}

/* RODEPÉ */

#fundo-titulo{
    background-color: #4a0000;
    text-align: center;
    padding: 5px 2px;
    width: 110px;
    margin: 5px 0 0 -10px;
    color: #fff;
    margin-top: -28px;
    z-index: 10;
    font-variant: small-caps;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    *margin-left:-70px;
}

#fundo-titulo-sombra {
    background-color: #000;
    width: 113px;
    height: 25px;
    margin-left: -6px;
    margin-top: -15px;
    z-index: 9;
    *margin-left:-64px;
}

.traco-titulo{
    width:50px;
    margin-left: 106px;
    border-bottom: 1px solid #999;
    color: #666666;
    z-index: 8;
    *margin-top:-16px;
    *margin-left:101px;
}

#lateral-left {
    float: left;
    width:170px;
}

#fundo-listrado {
    background-image: url(../img/bg-caixa.png);
    height: 340px;
    width: 166px;
    z-index: 0;
    margin-left: -10px;
    margin-top: 20px;
    padding: 2px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#fundo-titulo-2{
    background-color: #4a0000;
    text-align: center;
    padding: 5px 2px;
    width: 110px;
    margin-left:8px;
    color: #fff;
    margin-top: -27px;
    z-index: 10;
    font-variant: small-caps;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    *margin-left:-40px;
    *font-size:13px;
}

#fundo-titulo-sombra-2{
    background-color: #000;
    width: 113px;
    height: 23px;
    margin-left: 12px;
    margin-top: -15px;
    z-index: 9;
    *margin-left:-35px;
}

#meio {
    width: 555px;
    margin-left: 25px;
    padding: 2px;
    margin-top: -40px;
    float: left;
}

/*destaques*/

#destaque-home {
    background-image: url(../img/slide.png);
    width: 555px;
    height: 305px;
}



/* MATERIA */
#materia-texto{
    width: 750px;
    margin-left: 5px;
}

#caixa-cinza{
    border: 1px solid #686868;
    width: 710px;
    padding: 20px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#caixa-cinza textarea{
    border: 1px solid #686868;
    padding: 5px;
    font-family: arial;
}

#itens-menu li {
    float: left;
}

#ultimas-materias {
    width: 355px;
    margin-right: 20px;

}

#mais-lidas {
    margin-top: 18px;
    width: 175px;
    background-image: url(../img/bg-caixa.png);
    height: 500px;
    z-index: 00;
    padding: 2px;


    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#resto-elementos input[type=text]{
    border: 1px solid #686868;
}

#resto-elementos input[type=submit]{
    margin-top: 15px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #9d9c9c;
    height: 30px;
    padding: 5px;
    cursor: pointer;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


.traco-ultimas{
    width: 355px;
    border-bottom: 1px solid #999;
    margin-bottom: 18px;
    padding-top: 18px;
    *margin-top:-13px;
}

#ultimas-img {
    background-image: url(../img/img-ultima.jpg);
    width: 185px;
    height: 110px;
    float: left;
    margin-right: 10px;
}

#lista {
    background-image: url(../img/lista.png);
    width: 8px;
    height: 8px;
    float: left;
    margin-right: 8px;
    margin-left: 10px;
    margin-top: 3px;
}


/*Contato*/

#colunas-formulario {
    margin-bottom: 8px;
}

#colunas-formulario input[type=text]{
    border: 1px solid #cecece;
    padding: 4px;
    color: #888;
    font-family: arial;
    margin-bottom: 8px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


#colunas-formulario select {
    border: 1px solid #cecece;
    padding: 4px;
    color: #888;
    font-family: arial;
    margin-bottom: 8px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


#colunas-formulario textarea {
    border: 1px solid #cecece;
    padding: 4px;
    color: #888;
    font-family: arial;
    width: 340px;
    height: 130px;
    *width: 320px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}


#colunas-formulario input[type=submit]{
    margin-top: 15px;
    background-image: url(../img/bg-button.png);
    border: 1px solid #888;
    height: 30px;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 4px 15px\9;
    margin-right: 75px\9 !important;
    *padding: 4px;
    *position:absolute;
    *top:493px;
    *margin-left:47px;

    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

#colunas-formulario input[type=submit]:hover{
    background-image: url(../img/bg-button-hover.png);
}

#contato {
    margin-left: 10px;
    margin-top: 15px;
    *margin-top: 30px;
}

#telefone-vagas li {
    float: left;
    display: block;
}

#coluna-um {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #444;
}

