.mail{
    background-image: url(../img/mail.png);
    width: 27px;
    height: 24px;
    display: block;
    cursor: pointer;
    margin-right: 1px;
}

.mail:hover{
    background-image: url(../img/mail-h.png);
}

.linkendin{
    background-image: url(../img/linkindin.png);
    width: 27px;
    height: 24px;
    display: block;
    cursor: pointer;
    margin-right: 1px;
}

.linkendin:hover{
    background-image: url(../img/linkindin-h.png);
}


.twitter{
    background-image: url(../img/twitter.png);
    width: 27px;
    height: 24px;
    display: block;
    cursor: pointer;
    margin-right: 1px;
}

.twitter:hover{
    background-image: url(../img/twitter-h.png);
}

.facebook{
    background-image: url(../img/facebook.png);
    width: 27px;
    height: 24px;
    display: block;
    cursor: pointer;
}

.facebook:hover{
    background-image: url(../img/facebook-h.png);
}
